*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.topbox{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.navbar{
    background: linear-gradient(to right,rgb(255, 0, 85),rgb(195, 0, 255),rgb(255, 0, 85));
    height: 10vh;
    width: 90vw;
    border: 0px;
    border-radius: 35px;
}

