*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.topbox{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right,rgb(25, 0, 255),rgb(0, 195, 255),rgb(25, 0, 255));
    height: 10vh;
    width: 90vw;
    border: 0px;
    border-radius: 35px;
}
.items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navItem{
    text-decoration: none;
    padding: 20px 0px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 20px;
    border: 0px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out 0.05s;
}
.navItem:hover{
    transform: translateY(-15px);
    padding:35px 0px;
}